* {
  font-family: sans-serif;
}
.title{
  text-align: center;
  margin: 40px auto 30px;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.flip-card {
  width: 300px;
  height: 450px;
  margin: auto;
  padding: 10px 0px;
}
.flip-card-back {
  background: #0079ca;
  color: #fff;
  transform: rotateY(180deg);
  z-index: 1;
}
.flip-card-back .back-header {
  height: 45%;
  text-align: center;
}
.flip-card-back .back-header img{
  width: 50%;
  margin-top: 20px;
}
.flip-card-inner {
  position: relative;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card-back, .flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
}
.flip-card-front img {
  border-radius: 5px;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-back .back-footer {
  height: 55%;
  padding: 0 15px;
}
.back-footer a {
  text-decoration: none;
  width: 120px;
  display: inline-block;
  text-align: center;
  padding: 7px 5px;
  border: 1px solid #fff;
  color: #fff;
  margin-top: 30px;
  transition: 0.5s;
}
.back-footer a:hover {
  background: #000;
  border: 1px solid #000;
}